---
layout: case-study
---

<div class="grid-container">
  <div class="case-study-container">
    <h1>Crossroads</h1>
  </div>
</div>

<div class="img-container-4">
    <%= image_tag('crossroads/short-path-1.jpeg')%>
    <%= image_tag('crossroads/short-path-2.jpeg')%>
    <%= image_tag('crossroads/short-path-3.jpeg')%>
    <%= image_tag('crossroads/short-path-4.jpeg')%>
    <%= image_tag('crossroads/short-path-5.jpeg')%>
    <%= image_tag('crossroads/short-path-6.jpeg')%>
    <%= image_tag('crossroads/medium-path-1.jpeg')%>
    <%= image_tag('crossroads/medium-path-2.jpeg')%>
    <%= image_tag('crossroads/medium-path-3.jpeg')%>
    <%= image_tag('crossroads/medium-path-4.jpeg')%>
    <%= image_tag('crossroads/long-path-1.jpeg')%>
    <%= image_tag('crossroads/long-path-2.jpeg')%>
</div>

<div class="grid-container">
  <div class="case-study-container">
    <div class="desc-wrapper">
      <p class="legend">Parcours imprimés d'utilisateurs : plus le joueurs a fait d'étapes, moins le parcours est lisible.</p>

      <h2>Transformer une méthode centrée utilisateur en installation artistique</h2>
      <p>Travailler sur ce projet m’a d’abord permis de porter un regard critique sur la méthode que j’avais mise au point pour mon mémoire. J’ai compris qu’organiser des tests utilisateurs multijoueurs donne l’avantage de récupérer plus de données mais peut aussi avoir l’inconvénient de créer des biais dans le comportement des personnes testées, notamment avec le stress engendré par les wikichallenges qui se jouaient les uns contre les autres. Par ailleurs, j’étais présente pour expliquer en quoi consistait les wikichallenges lors des tests mais j’étais consciente que ça ne serait pas forcément le cas pendant l’exposition de nos diplômes. C’est pourquoi j’ai pris la décision de proposer une expérience à un seul joueur. Elle se décompose en plusieurs étapes : d'abord, un site web explique ma démarche, les règles du wikichallenge et propose au spectateur de choisir une partie de wikichallenge. En cliquant sur l’une des parties, le joueur est redirigé sur Wikipédia et doit parvenir à la page d’arrivée en cliquant sur les hyperliens qui lui semblent les plus cohérents pour faire la liaison entre les deux mots. Une fois que le joueur est parvenu à son point d’arrivée, le traceur se met en marche et imprime le parcours que le joueur vient d’effectuer. Le joueur récupère son parcours. Il peut alors le conserver ou bien l’afficher dans l’espace d’exposition qui réunit les parcours de tous les autres joueurs.
      <%= image_tag 'crossroads/site-web-crossroads.png' %>
      <p class="legend">Site web que j'ai codé pour crossroads.</p>

    </div>

    <div class="desc-wrapper">
      <h2>D’une technologie obsolète à la pièce centrale d’une installation contemporaine.</h2>
      <p>Pour réaliser mon projet, j’ai récupéré <% link_to 'http://www.hpmuseum.net/display_item.php?hw=74' do %>un plotter HP 7475A<% end %>, datant de 1983. La première étape de mon travail a été de rendre compatible cette technologie ancienne avec nos technologies actuelles. Pour cela, j’ai dû effectuer des recherches sur les connecteurs qui existent aujourd'hui pour permettre une communication entre mon ordinateur et le plotter. Puis j’ai été confrontée à la difficulté de trouver des cartouches de recharge pour le plotter. J’ai décidé de modifier le plotter et de créer un embout imprimé en 3D permettant de faire passer différents outils d’écriture dans le carrousel. Étant donné que c’était la première fois je concevais un objet en 3D et que j’utilisais une imprimante 3D, de nombreux essais furent nécessaires avant que je trouve le matériau et les dimensions optimales pour mon objet.</p>
      <%= image_tag 'crossroads/proto.jpg' %>
      <p class="legend">Différentes itérations autour de l'embout du plotter.</p>
      <p> Par ailleurs, la question de la récupération, la mise en forme et l’impression des parcours se posait. Premièrement, j’ai modifié avec l’aide de Kévin Vennitti l’extension que j’avais déjà construite pour que les parcours, une fois terminés, se téléchargent au format que je souhaitais sur l’ordinateur de l’installation. Puis, ma tutrice Stéphanie Vilayphiou, m’a recommandé d’utiliser <% link_to 'http://www.graphviz.org/' do %>Graphviz<% end %> pour générer les parcours à partir de fichiers DOT. Enfin, j’ai utilisé l’outil <% link_to 'http://www.pstoedit.net/' do %>pstoedit<% end %> afin de convertir le fichier dans le langage de la machine, à savoir le HPGL. Grâce à Félicien Goguey, j’ai mis au point un script automatisant la transformation du fichier de dot à SVG vers HPGL.
      </p>

      <p>Mon dernier challenge était de découvrir, d’apprivoiser et d’expérimenter les fonctionnalités du <% link_to 'https://fr.wikipedia.org/wiki/DOT_(langage)' do %>langage DOT<% end %> et de l’outil pstoedit afin d’obtenir le rendu que je souhaitais graphiquement parlant. Cette partie de mon travail était particulièrement stimulante. Faire face chaque jour à un nouveau problème m’a poussé à procéder en autonomie et de façon méthodique pour maîtriser deux technologies dont j’ignorais tout avant de me lancer dans ce projet.</p>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/228244608?color=ff9933&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
      </div>
      <div class="img-container-2">
        <%= image_tag('crossroads/test.jpeg')%>
        <%= image_tag('crossroads/test-1.jpeg')%>
        <%= image_tag('crossroads/test-2.jpeg')%>
        <%= image_tag('crossroads/test-3.jpeg')%>
      </div>
      <p class="legend">Expérimentations avec le plotter</p>
    </div>

    <div class="desc-wrapper">
      <h2>Accompagner l’utilisateur dans un dispositif lourd</h2>
      <p>Malgré mon exigence de simplifier au maximum l’expérience, j’avais conscience que le protocole que je voulais soumettre au public restait complexe, notamment parce qu'il mettait en jeu beaucoup de notions probablement inconnues de ce public (la pratique des wikichallenge par exemple). Je me suis demandée comment accompagner le joueur le long de cette installation sans risquer de le perdre en route. J’ai eu l’idée de créer une scénographie assez directionnelle pour que le public sache intuitivement vers où se diriger. Cependant, j’ai veillé à laisser assez d’espace pour que chacun puisse réaliser son propre parcours : si certaines personnes préféraient rester spectatrices ou observatrices des joueurs et des résultats obtenus, l’espace leur en laissait la liberté.
      </p>
      <div class="img-container-2">
        <%= image_tag('crossroads/cartel-1.jpeg')%>
        <%= image_tag('crossroads/cartel-2.jpeg')%>
      </div>
      <p class="legend">Cartels imprimés au plotter pour la médiation de l'installation.</p>

      <p>Par ailleurs, afin d’accompagner le joueur, j’ai imprimé au plotter des posters et cartels que j’ai parsemés le long de l’expérience. Cela permet de donner une identité esthétique à l’expérience, donc à l’unifier, tout en guidant le visiteur désireux de comprendre ma démarche. Au final, j’ai récupéré sur les deux jours d’exposition près d’une centaine de parcours. Cela tend à prouver que l’installation était suffisamment compréhensible aux yeux du public.</p>
      <%= image_tag 'crossroads/expo-diplome.jpg' %>
      <p class="legend">Personnes jouant une partie de wikichallenge durant le vernissage de l'exposition des diplômes de Media Design.</p>
    </div>
    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Accueil
      <% end %>
      <% link_to '/hypertext' do %>De pandore à post-it
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
