---
layout: case-study
---

<div class="grid-container">
  <div class="case-study-container">
    <h1>Deadline</h1>
    <div class="desc-wrapper">
      <%= image_tag 'deadline/201702_MD_Salone-Ludico_Deadline_HEAD_MichelGiesbrecht_001.jpg' %>
      <p class="legend">Photographies de Michel Giesbrecht</p>
      <h2>Règles du jeu</h2>
      <p>Six cartes doivent être distribuées à chaque joueur. Les cartes “SMS” permettent aux joueurs d’empêcher la progression de leurs adversaires tandis que les cartes “appels” permettent de se débloquer le cas échéant. Chaque joueur qui subit une attaque devra la contrecarrer grâce à la carte inverse de même couleur. Lorsqu’un joueur attaque un adversaire, il est obligé de lire la carte “SMS” à haute voix, avant de la poser. L’application placée au centre de la table fait partie intégrante du jeu. Elle affiche le calendrier et montre ainsi, combien de jours il reste avant la date fatidique. Elle permet également aux joueurs d’accéder à leurs checklists personnelles et de progresser dans leurs mandats. L’application connaît la progression de chaque joueur. Elle mettra alors des bâtons dans les roues de ceux qui sont les plus avancés! Il n’est peut-être pas très stratégique d’être en tête de course...
      </p>
    </div>

    <div class="desc-wrapper">
      <%= image_tag 'deadline/deadline-comm.jpg' %>
      <p class="legend">Le premier prototype de Deadline, avant mon arrivée sur le projet.</p>

      <h2>Le challenge des jeux hybrides : comment répartir le gameplay entre deux objets différents ?</h2>

      <p>Lorsque j’ai commencé à travailler sur ce projet, la première chose qui m’a interrogée est comment répartir équitablement l’attention du joueur entre une interface et des cartes de jeu. À ce moment, l’interface n’était guère plus qu’un timer (chronomètre) et la majeure partie du jeu se passait avec les cartes.</p>

      <div class="img-container">
        <%= image_tag 'deadline/old-deadline-interface.jpg' %>
        <%= image_tag 'deadline/old-deadline-interface-2.jpg' %>
      </div>
      <p class="legend">Les deux interfaces principale de l'ancienne version.</p>

      <p>Pourtant, la volonté des deux fondatrices du projet, Margaux Charvolin et Valérie Pierrehumbert, était de trouver un équilibre entre ces deux objets. Il a donc été question de revoir le rôle de chacun d’entre eux. Suite à plusieurs échanges avec Valérie, nous avons convenu qu’en détenant la donnée temporelle, l’interface devenait une sorte de « game manager » et qu’en tant que tel, elle devait aussi gérer la progression de chaque joueurs. Le fait que l'interface reçoivent un tel pouvoir nous a donné un avantage : celui d'entrevoir la fin des parties et de faire en sorte qu’elles ne soient pas anticipables pour les joueurs.</p>
    </div>
  </div>
</div>
<div  class="full-width-img">
  <%= image_tag 'deadline/deadline-app-behaviour.png' %>
</div>

<div class="grid-container">
  <div class="case-study-container">
    <p class="legend">J'ai défini un user journey où l'interface "administre" d'avantage le jeu.</p>
    <div class="desc-wrapper">
      <h2>Pourquoi une interface ronde ?</h2>
      <p>J’ai réalisé l’interface qui, de par son format rond était un réel challenge en terme d’UX et de design graphique. Cependant, ce choix de format s’est imposé pour deux raisons. Premièrement, le jeu parle de la gestion du temps dans la profession de designer graphique. Par analogie, une interface ronde permet de rappeler ce rapport au temps.</p>
      <div class="img-container">
        <%= image_tag 'deadline/basic-wireframe-deadline-01-copie.png' %>
        <%= image_tag 'deadline/task-interface-evolution.gif' %>
      </div>
      <p class="legend">Le layout de l'app se compose d'un espace majeur d'interaction et d'un espace mineur dédié à chaque joueur. On peut voir comment les différentes évolutions de l'interface "selection de tâches" on mené à ce layout.</p>

      <p>Deuxièmement, l’expérience se vit à 3 ou 4 joueurs assis autour d’une table. Une interface rectangulaire était trop complexe à gérer dans ce contexte car elle imposait un sens de lecture aux joueurs en dépit de leur répartition autour de la table. Au contraire, une interface ronde induit la possibilité de tourner l’interface plutôt que de suggérer le déplacement des joueurs ou la manipulation du device.</p>

      <%= image_tag 'deadline/Deadlinetable-3d-view-mai-lin-laurent-bolli.png' %>
      <p class="legend">La table de jeu designée pour l'exposition Salone Ludico par <% link_to 'https://muziwanli.wixsite.com/limai' do %>Mai Li<% end %> et Laurent Bolli.</p>
    </div>

    <div class="desc-wrapper">
      <h2>Comment garantir la lisibilité d'une interface ronde ?</h2>
      <p>Néanmoins, cela ne réglait pas tout à fait le problème de la lisibilité de l’application. D’autant que Deadline est un jeu où le joueur doit lire beaucoup. C’est pourquoi j’ai proposé différentes interactions afin de rendre l’interface lisible : Par exemple, au début du jeu le mode d’emploi est diffusé en rotation afin d’attirer l’oeil des joueurs potentiels. Il peut aussi être manipulé par des joueurs pour qu’ils puissent tourner l’interface dans leur direction s'ils souhaitent lire les instructions.</p>

      <%= image_tag 'deadline/interaction-splash-screen-deadline.png' %>
      <p class="legend">En bleu, l'animation par défaut de l'interface. En rose, l'interaction possible avec celle-ci.</p>

      <p>Une autre solution que j’ai mis en place à été d’automatiser la direction dans laquelle l’interface doit se diriger. Typiquement, lorsqu’elle annonce le joueur dont c’est le tour, elle se tourne dans sa direction avant de déployer sa bulle de dialogue.</p>

      <%= image_tag 'deadline/animation-ready-deadline.png' %>
      <p class="legend">Cette autonomisation de l'interface tend à la doter d'une personnalité.</p>
    </div>

    <div class="desc-wrapper">
    <h2>Un graphisme austère pour une interface ayant de la personnalité.</h2>
    <p>Cette solution pour l’interface d’annonce du tour fonctionne parce qu’elle ne concerne qu’un seul joueur mais surtout parce qu’elle est répétitive. Cependant, il existe d’autres interfaces qui, même si elles ne concernent proprement que le joueurs dont c’est le tour, peuvent intéresser aussi les autres joueurs curieux de voir la progression de leurs adversaires. Je pense aux interfaces de sélection des tâches et de checklist. Ici, j’ai proposé de créer des icônes pour la totalité des tâches de chaque missions, réinsérant par la même occasion, des éléments visuels dans une interface que je trouvais jusque-là trop austère.</p>

    <div class="img-grid">
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-1.png', class:'img-item')%>
        <p class="grid-legend">Analyse data</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-2.png', class:'img-item')%>
        <p class="grid-legend">Outline user journey</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-3.png', class:'img-item')%>
        <p class="grid-legend">Create styleguide</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-4.png', class:'img-item')%>
        <p class="grid-legend">Prototype animation</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-5.png', class:'img-item')%>
        <p class="grid-legend">Shorten video</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-6.png', class:'img-item')%>
        <p class="grid-legend">Test layout</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-7.png', class:'img-item')%>
        <p class="grid-legend">Choose color</p>
      </div>
      <div class="img-grid-item">
        <%= image_tag('deadline/icon-8.png', class:'img-item')%>
        <p class="grid-legend">Search for datavis types</p>
      </div>
    </div>
    <p class="legend">Au total, nous avons designé plus de 150 icônes pour le jeu.</p>

    <p>Cette austérité, notamment dans les choix colorimétriques de l’application, permet de mieux assimiler l’interface au meuble dans lequel elle est encastrée. Seul le rouge, qui rappelle ponctuellement l’urgence de la situation, sort de l’aspect neutre de l’application en terme colorimétrique. Pour compenser cet aspect un peu trop « sérieux », j’ai suggéré de doter l’interface d’une sorte de personnalité. De fait, il n’est pas impossible qu’elle emploi un ton ironique à votre égard. Aussi, elle est imprévisible : c’est elle qui décide, au hasard, l’ordre des joueurs pour chaque tour. Cette personnalité est appuyée principalement par les animations : la façon dont les messages s’affichent et dont les tâches sont distribuées entre autres affirment sa personnalité.</p>

    <%= image_tag 'deadline/dialog-01.jpg' %>
    <p class="legend">La personnalité de l'interface se voit aussi dans la manière dont elle s'adresse au joueur.</p>
    </div>
    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Accueil
      <% end %>
      <% link_to '/hypertext' do %>De Pandore à Post-it
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
