---
layout: case-study
---

<div class="grid-container">
  <div class="case-study-container">
    <h1>De Pandore à Post-it, une exploration empirique de l'hypertexte</h1>
  </div>
</div>

<div class="img-container-4">
  <%= image_tag 'hypertext/croquis-1.jpg' %>
  <%= image_tag 'hypertext/croquis-2.jpg' %>
  <%= image_tag 'hypertext/croquis-3.jpg' %>
  <%= image_tag 'hypertext/croquis-4.jpg' %>
  <%= image_tag 'hypertext/croquis-5.jpg' %>
  <%= image_tag 'hypertext/croquis-6.jpg' %>
  <%= image_tag 'hypertext/croquis-7.jpg' %>
  <%= image_tag 'hypertext/croquis-8.jpg' %>
  <%= image_tag 'hypertext/croquis-9.jpg' %>
  <%= image_tag 'hypertext/croquis-10.jpg' %>
  <%= image_tag 'hypertext/croquis-11.jpg' %>
  <%= image_tag 'hypertext/croquis-12.jpg' %>
</div>

<div class="grid-container">
  <div class="case-study-container">
    <div class="desc-wrapper">
      <p class="legend">Quelques-uns des croquis réalisés par les personnes testées pour représenter leurs parcours.</p>
      <h2>Le choix d’une méthode épistémologique dans le cadre de la recherche en design</h2>
      <p>La façon dont l’humanité enrichie et transmet ses connaissances à travers les âges me fascine. À cet égard, notre époque me questionne d’autant plus avec le déploiement des nouvelles technologies et l’évolution de nos pratiques. C’est pourquoi je me suis intéressée à la question de l’hypertexte. Partant du postulat que celui-ci était « calqué » sur nos modes de pensée et qu’en sa qualité de structure réticulaire, il ne peut être cartographié, mon travail était une tentative d’identification de dynamiques de déplacements révélant des logiques structurelles à l’oeuvre dans la construction de ce réseau. J’ai choisi de me focaliser sur Wikipédia car cette plateforme représente selon moi l’endroit où nous stockons nos connaissances. C’est ainsi que j’ai découvert la pratique des <% link_to 'https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Exercices/Course_wikip%C3%A9dienne' do %>wikichallenges<% end %> qui a servi de base me permettant de mener mon étude à bien. Ce choix d’observer une pratique en créant une méthode de test était conscient et voulu. En tant que designer, il me semble que notre méthode devrait s’inscrire dans une pratique car la création d’objets, outils, etc. est ce à quoi nous sommes formés. Pourquoi dans ce cas, ne pas mettre cette créativité au service de la recherche ?
      </p>
    </div>

    <div class="desc-wrapper">
      <h2>La construction d’une méthode d’observation</h2>
      <p>Créer un test est toujours une étape délicate dans un processus de création : il doit être assez précis pour apporter des réponses aux questions que le designer se pose d’ors et déjà et en même temps, il doit laisser assez de libertés aux utilisateurs pour exprimer des choses que le designer n’a pas forcément vu de prime abord. C’est dans la recherche de cet équilibre que j’ai choisi dans un premier temps d’organiser un entretien avec mes sujets de test afin de comprendre les points communs et les divergences d’usage de la plateforme Wikipédia. Puis, j’ai organisé des sessions de test d’environ 1h30 où les participants jouaient ensemble des parties de wikichallenges. J’ai enregistré grâce à une extension web que j’ai créée leur clics sur des hyperliens et je leur ai demandé avant ou après chaque partie de dessiner le parcours qu’ils pensaient effectuer. Pendant les parties, je me tenais en retrait, annotant et photographiant des détails dans l’attitude des participants qui me frappaient.
      </p>
      <table class="tables">
        <thead>
          <tr>
            <th>Point de départ</th>
            <th>Point d'arrivée</th>
            <th>Parties gagnées</th>
            <th>Meilleur score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cacaoyer</td>
            <td>Unterseeboot</td>
            <td>3/4</td>
            <td>10 clics</td>
          </tr>
          <tr>
            <td>Pandore</td>
            <td>Post-it</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Paresseux</td>
            <td>Brucelles</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Superbowl</td>
            <td>Giacomo Casanova</td>
            <td>3/4</td>
            <td>11 clics</td>
          </tr>
          <tr>
            <td>Dopamine</td>
            <td>Économie circulaire</td>
            <td>2/4</td>
            <td>8 clics</td>
          </tr>
          <tr>
            <td>Vésuve</td>
            <td>Deep Blue</td>
            <td>3/4</td>
            <td>5 clics</td>
          </tr>
          <tr>
            <td>Effet Doppler</td>
            <td>Babylone</td>
            <td>4/4</td>
            <td>4 clics</td>
          </tr>
          <tr>
            <td>Pentagramme</td>
            <td>Shinkansen</td>
            <td>4/4</td>
            <td>4 clics</td>
          </tr>
          <tr>
            <td>Narcos</td>
            <td>Tay</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      <p class="legend">Extrait des résultats du test.</p>
      <%= image_tag 'hypertext/photo-1.jpg' %>
      <div class="img-container-2">
        <%= image_tag('hypertext/photo-2.jpg')%>
        <%= image_tag('hypertext/photo-3.jpg')%>
      </div>
      <p class="legend">Photographies montrant l'attitude corporelle des joueurs pendant les phases de jeu.</p>
    </div>

    <div class="desc-wrapper">
      <h2>Du test à la rédaction, les résultats de ma méthode</h2>
      <p>Suite à cette série de tests, je me suis efforcée à analyser et synthétiser les données que j’avais accumulées afin d’en tirer un discours cohérent. Par exemple, lors des entretiens préliminaires et des déclarations faites au cours des phases de jeu, la majorité des participants ont prétendu faire appel au hasard pour naviguer dans l’hypertexte. Mais en confrontant leur déclaration avec leur parcours, je me suis rendu compte qu’ils mettaient tous en place des stratégies plus ou moins communes pour se diriger dans l’hypertexte. J’ai identifié six de ces stratégies et je les ai commentées dans mon mémoire. Parmi elles, la stratégie géo spatiale qui consiste à se référer à l’espace géographique terrestre pour se « déplacer » dans les différentes thématiques de Wikipédia. Cela m’a permis de comprendre que bien qu’étant similaire à la Terre, la « géographie » de Wikipédia n’en est pas une copie conforme. Il existe des articles qui sont bien plus utilisés, dans le cadre de cette stratégie que d’autres. C’est le cas de la page des États-Unis, qui constitue une véritable « autoroute » hypertextuelle vers nombres de thématiques et d’évènements.
      </p>
      <div class="img-container-2">
        <%= image_tag 'hypertext/schema-1.png' %>
        <%= image_tag 'hypertext/schema-2.png' %>
      </div>
      <p class="legend">Hypothèses graphiques formulées suite à mon étude : celle-ci traite de la "géographie" de Wikipédia.</p>
    </div>

    <div class="desc-wrapper">
      <h2>De la rédaction à l’édition : une lecture délinéarisée pour un travail de recherche</h2>
      <p>Après la phase de rédaction, nous avons le devoir de mettre en page notre mémoire et d’en tirer un certain nombre d’exemplaires. La question que je me suis posée à ce moment est : comment retranscrire la richesse de ma démarche en dépit des consignes liées à l’édition d’un document universitaire ? J’avais connaissance de travaux comme celui de <% link_to 'http://www.maria-fischer.com/project-5.html' do %>Maria Fischer<% end %> mais je craignais de trop contraindre le lecteur avec un système similaire et je souhaitais autant que possible lui assurer une lecture aisée. J’ai donc choisi de diviser mon ouvrage en 3 parties. La première contient le mémoire, la seconde les figures sur lesquelles il s’appuie et la dernière les citations qui l’étayent. Les liens entre les différents passages sont faits par des appels de notes latérales et la notion d’hypertexte est rappelée au lecteur par une reliure au fil de couleur bleu. Enfin, les couvertures mises bout à bout rappellent aux lecteurs les différentes parties que les joueurs ont jouées.
      </p>
      <div class="img-container-2">
        <%= image_tag('hypertext/repro-fev-2017_048.jpg')%>
        <%= image_tag('hypertext/repro-fev-2017_056.jpg')%>
      </div>
      <%= image_tag 'hypertext/repro-fev-2017_047.jpg' %>
    </div>
    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Accueil
      <% end %>
      <% link_to '/deadline' do %>Deadline
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
