---
layout: case-study
---

<div class="grid-container">
  <div class="case-study-container">
    <h1>From Pandora to Post-it, an empirical exploration of the hypertext</h1>
  </div>
</div>

<div class="img-container-4">
  <a class="zoomIn" href="/assets/images/hypertext/croquis-1.jpg">
    <%= image_tag 'hypertext/croquis-1.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-2.jpg">
    <%= image_tag 'hypertext/croquis-2.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-3.jpg">
    <%= image_tag 'hypertext/croquis-3.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-4.jpg">
    <%= image_tag 'hypertext/croquis-4.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-5.jpg">
    <%= image_tag 'hypertext/croquis-5.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-6.jpg">
    <%= image_tag 'hypertext/croquis-6.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-7.jpg">
    <%= image_tag 'hypertext/croquis-7.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-8.jpg">
    <%= image_tag 'hypertext/croquis-8.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-9.jpg">
    <%= image_tag 'hypertext/croquis-9.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-10.jpg">
    <%= image_tag 'hypertext/croquis-10.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-11.jpg">
    <%= image_tag 'hypertext/croquis-11.jpg' %>
  </a>
  <a class="zoomIn" href="/assets/images/hypertext/croquis-12.jpg">
    <%= image_tag 'hypertext/croquis-12.jpg' %>
  </a>
</div>

<div class="grid-container">
  <div class="case-study-container">
    <p class="legend">A few sketches made by tested people to represent their journey.</p>
    <div class="desc-wrapper">
      <h2>Choosing an empirical method for design research</h2>
      <p>The way Humanity hands down knowledge throughout the ages is something that fascinates me. My curiosity is constantly piqued by the era we live in, the ever&#8208;increasing development of technologies and the evolutions in human behaviour they catalyse. Hyperlinks, these data wormholes between a simple word and a remote anchor that can be information of any nature are fundamental to the internet and the way humans navigate through the web. They are half a century old but still have a significant role in the way we learn and transmit knowledge today. Beginning my research for my master thesis, I started questioning the very nature of the hypertext, the text vessel hyperlinks are woven through. I started with two assumptions. First, that the concept of the hypertext works similarly to the way we think. Secondly, that, as a reticular structure, hypertext can’t be mapped. In my essay, I tried to identify how flow dynamics could reveal structural logics that are in use to build networks. I decided to focalise my research on Wikipedia, as it is, in my opinion, a major platform when it comes to gathering, storing, and sharing knowledge. Analysing this network, I discovered wikiracing, a gaming practice that has become the basis for my study. Building my testing method upon this practice was a conscious choice. As a designer, I believe research and practice should go hand in hand. We are trained to create objects, tools, and interfaces. So why not using this creativity to do research&#8208;related work?
      </p>
    </div>

    <div class="desc-wrapper">
      <h2>Constructing a method to observe</h2>
      <p>Creating a testing protocol is always a sensitive step in the creative process: it has to be precise enough to answer the questions the designer is facing. But at the same time, it must be open enough for users to be able to express things that didn’t appear to the designer in the first place. To find this balance, I decided to organise a first interview with each participant so as to understand and compare the way every one of them uses Wikipedia. I then organised testing sessions of 1h30 where participants played wikiraces. I was tracking their path (clicks) thanks to a web extension I had built. I was asking them, before or after, to draw their interpretation of the journey they had to do or just made. During the session, I was standing still, writing down and photographing striking details in each one’s behaviour.
      </p>
      <table class="tables">
        <thead>
          <tr>
            <th>Start point</th>
            <th>End point</th>
            <th>Success</th>
            <th>Highest score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Theobroma cacao</td>
            <td>Unterseeboot</td>
            <td>3/4</td>
            <td>10 clicks</td>
          </tr>
          <tr>
            <td>Pandora</td>
            <td>Post-it</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Sloth</td>
            <td>Tweezers</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Superbowl</td>
            <td>Giacomo Casanova</td>
            <td>3/4</td>
            <td>11 clicks</td>
          </tr>
          <tr>
            <td>Dopamine</td>
            <td>Circular economy</td>
            <td>2/4</td>
            <td>8 clicks</td>
          </tr>
          <tr>
            <td>Mont Vesuvius</td>
            <td>Deep Blue</td>
            <td>3/4</td>
            <td>5 clicks</td>
          </tr>
          <tr>
            <td>Doppler effect</td>
            <td>Babylone</td>
            <td>4/4</td>
            <td>4 clicks</td>
          </tr>
          <tr>
            <td>Pentagram</td>
            <td>Shinkansen</td>
            <td>4/4</td>
            <td>4 clicks</td>
          </tr>
          <tr>
            <td>Narcos</td>
            <td>Tay</td>
            <td>0/4</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      <p class="legend">Some results of the test.</p>
      <a class="zoomIn" href="/assets/images/hypertext/photo-1.jpg">
        <%= image_tag 'hypertext/photo-1.jpg', class:'img-spacing' %>
      </a>
      <div class="img-container-2">
        <a class="zoomIn" href="/assets/images/hypertext/photo-2.jpg">
          <%= image_tag 'hypertext/photo-2.jpg'%>
        </a>
        <a class="zoomIn" href="/assets/images/hypertext/photo-3.jpg">
          <%= image_tag 'hypertext/photo-3.jpg'%>
        </a>
      </div>
      <p class="legend">Photographs picturing players’ body attitude during the game.</p>
    </div>

    <div class="desc-wrapper">
      <h2>From testing to writing, results of the method</h2>
      <p>Afterwards, I had to analyse and summarise the data I had gathered in order to create a consistent essay. One of the key contradiction I highlighted was that most participants pretended to move randomly though the hypertext. Indeed, their journeys were clearly attesting that they were all using more or less similar strategies in order to find their way inside the hypertext. I identified six of them, that I reviewed in my thesis. One them I call “geospatial strategy” refers to how the geopolitical repartition of Earth affects the way we move inside different Wikipedia themes. Thanks to this discovery, I understood that, even if the “geography” of Wikipedia looks quite similar to Earth’s, it is in fact very unique. When using this geospatial strategy, some articles are much more consulted than others. It is the case of the article for the “United States of America”, for example, which is used as some kind of “hypertext highway” to reach a very diverse array of themes and events.
      </p>
      <div class="img-container-2">
        <a class="zoomIn" href="/assets/images/hypertext/schema-1.png">
          <%= image_tag 'hypertext/schema-1.png'%>
        </a>
        <a class="zoomIn" href="/assets/images/hypertext/schema-2.png">
          <%= image_tag 'hypertext/schema-2.png'%>
        </a>
      </div>
      <p class="legend">Graphic hypotheses I have built following my study. These ones consider the “geography” of Wikipedia.</p>
    </div>

    <div class="desc-wrapper">
      <h2>From a theoretical work of academic research to a publishing project on nonlinear reading</h2>
      <p>After the writing phase, we have to create the layout for our theses and print several copies of them. I was wondering; how to translate the richness of my study despite the constraints related to the format of an academic publication? I knew about <% link_to 'http://www.maria-fischer.com/project-5.html' do %>Maria Fischer’s work<% end %>, but I was afraid using a similar system would put too much constraints on my readers. My main focus was to give them the most pleasant experience possible. So I took the decision to divide the essay in 3 books. The first one contains the essay. The second one includes all the iconographical material I used as evidences. The last one gathers all the extracts from the interviews I refer to in the essay. The relationship between the different parts of the thesis is emphasised using endnote markers located inside the page gutters. Seemingly unaffected by the physical structure of the books, they travel through space, from one section of the essay to another. The very concept of the hypertext is also reminded to readers through the distinctive hyperlink&#8208;like blue thread used in the binding of the books themselves. Eventually, when the covers of the books are put together, they recreate the start and end points of all the wikiraces the participants of the study have played, inviting the readers to take part in the experiment.
      </p>
      <div class="img-container-2">
        <a class="zoomIn" href="/assets/images/hypertext/repro-fev-2017_048.jpg">
          <%= image_tag 'hypertext/repro-fev-2017_048.jpg'%>
        </a>
        <a class="zoomIn" href="/assets/images/hypertext/repro-fev-2017_056.jpg">
          <%= image_tag 'hypertext/repro-fev-2017_056.jpg'%>
        </a>
      </div>
      <a class="zoomIn" href="/assets/images/hypertext/repro-fev-2017_047.jpg">
        <%= image_tag 'hypertext/repro-fev-2017_047.jpg', class:'img-spacing'%>
      </a>
    </div>
    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Home
      <% end %>
      <% link_to '/mealcanteen' do %>Meal Canteen
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
