---
title: Marion Couesnon Portfolio
---

<div class="hero">
  <div class="header-container">
    <div class="logo-container">
      <p class="logo-name"><span>Marion Couesnon &harr;</span> hyperactive designer</p>
    </div>
    <nav class="menu-container">
      <ul class="menu-wrapper">
        <li><a href="#index" class="active">home</a></li>
        <li><a href="#case-study">case study</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#archives">archives</a></li>
      </ul>
    </nav>
  </div>
  <div class="grid-container">
    <div class="hero-container">
      <h1 class="intro">Hi there! I’m an interaction designer. My skills are shared between UX, UI and coding. My aim is to create delightful and useful products for innovative companies.</h1>
      <p class="announcement">And I am currently available for work!</p>
      <p class="scrollDown">&darr;</p>
    </div>
  </div>
</div>

<div class="grid-container">
  <section id="case-study">
    <h3>Case studies</h3>
    <article>
      <% link_to '/deadline' do %>
      <%= image_tag 'deadline/201702_MD_Salone-Ludico_Deadline_HEAD_MichelGiesbrecht_001.jpg' %>
      <% end %>
      <!--
      <p class="legend">Photograph from Michel Giesbrecht</p>
      -->
      <h1>Deadline</h1>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> april 2017</li>
          <li><span>Duration:</span> 8 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Team:</span> <% link_to 'http://www.valeriepierrehumbert.com' do %> Valérie Pierrehumbert<% end %></li>
          <li><span>Tools:</span> illustrator, after effects, sketch, invision, draw.io</li>
        </ul>
        <p class="summary-text-wrapper">Deadline was designed for <% link_to 'http://saloneludico.ch/' do %>Salone Ludico<% end %>, an exhibition <!--I also coded the website! ;-) -->organised by the Media Design section of HEAD—Genève. It is a hybrid game exploring the trials and tribulations of a graphic designer. Players become graphic designers themselves, and are commissioned to make projects for clients. To win, on the app you have to complete your checklist in the allotted time, by fulfilling tasks day after day. Using the cards, you can attack and defend yourself, but you need to be careful as the other players and the application itself will do their best to block you along the way. This project was a teamwork about designing the gameplay and a working prototype of a game.
        </p>
      </div>
      <div class="goto">
        <% link_to '/deadline', class: "button", role: "button" do %>Read case study<% end %>
      </div>
    </article>

    <article>
      <% link_to '/mealcanteen' do %>
      <%= image_tag 'meal-canteen/meal-canteen-hero.png' %>
      <% end %>
      <h1>Meal Canteen</h1>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> april 2016</li>
          <li><span>Duration:</span> 2 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Team:</span> <% link_to 'https://github.com/mehlah' do %> Mehdi Lahmam<% end %></li>
          <li><span>Tools:</span> sketch, bourbon, git</li>
        </ul>
        <p class="summary-text-wrapper"><% link_to 'https://mealcanteen.com/' do %>Meal Canteen<% end %> is a start&#8208;up whose ambition is to reduce food waste in institutional catering and school canteens. Thanks to an application for web and mobile platforms, users have the possibility to book in advance the meals they will eat during working days. I took part in this project during my apprenticeship in master degree <% link_to 'http://dsaa.designvillefontaine.com/' do %>(DSAA)<% end %>. It gave me the opportunity to get involved in the process of building a start-up from scratch to an MVP. My work has also included organising user interviews, A/B testings, and building wireframes for iPhone following iOS guidelines.
        </p>
      </div>
      <div class="goto">
        <% link_to '/mealcanteen', class: "button", role: "button" do %>Read case study<% end %>
      </div>
    </article>

    <article>
      <% link_to '/hypertext' do %>
        <%= image_tag 'hypertext/repro-fev-2017_046.jpg' %>
      <% end %>
      <h1>From Pandora to Post-it, an empirical exploration of the hypertext</h1>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> february 2017</li>
          <li><span>Duration:</span> 6 months</li>
          <li><span>Role:</span> writer - designer</li>
          <li><span>Tutor:</span> <% link_to 'http://www.nicolasnova.net' do %>Nicolas Nova<% end %></li>
          <li><span>Tools:</span> javascript, inDesign, illustrator</li>
        </ul>
        <p class="summary-text-wrapper">This publication is the result of my MA in media design at <% link_to 'https://www.hesge.ch/head/en/programs-research/master-arts-media-design' do %>HEAD—Genève<% end %>. When it was invented, hypertext was seen as a way to connect information somewhat similar to how we think. But is it really the case? In order to understand the hypertext structure of Wikipedia, I have created a user testing protocol based on <% link_to 'https://en.wikipedia.org/wiki/Wikiracing' do %>wikiraces<% end %>, a gaming practice making use of hyperlinks to connect randomly chosen articles. I then used this protocol to analyse the practice of 11 people. My thesis is the synthesis of the results I obtained. This design research project was the opportunity for me to elaborate this series of user tests as a way to blend practical and theoretical work. I have also had the occasion to give a talk at the
        <% link_to 'http://junior-research.ch/' do %>Junior Research Design Conference<% end %> in october 2016. Finally, I designed the publication and got involved in every part of the printing process.
        </p>
      </div>
      <div class="goto">
        <% link_to '/hypertext', class: "button", role: "button" do %>Read case study<% end %>
      </div>
    </article>

    <article>
      <% link_to '/crossroads' do %>
        <%= image_tag 'crossroads/repro-jun-17.jpg' %>
      <% end %>
      <!--
      <p class="legend">Photographs from <% link_to 'http://www.localf11.ch/baptiste-coulon/' do %>Baptiste Coulon<% end %></p>
      -->
      <h1>Crossroads</h1>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> june 2017</li>
          <li><span>Duration:</span> 2 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Tutor:</span> <% link_to 'http://osp.kitchen/' do %>Stéphanie Vilayphiou<% end %></li>
          <li><span>Thanks to:</span> <% link_to 'http://www.kevinvennitti.com/' do %>Kévin Vennitti<% end %>, <% link_to 'http://felicien.io/' do %>Félicien Goguey<% end %> and <% link_to 'http://et-nd.co/' do %>Étienne Ndiaye<% end %></li>
          <li><span>Tools:</span> sketchup, illustrator, javascript, bourbon, dot and pstoedit</li>
        </ul>
        <p class="summary-text-wrapper">Crossroads is the graduation project I have made for my master at <% link_to 'https://www.hesge.ch/head/en/programs-research/master-arts-media-design' do %>HEAD—Genève<% end %>. After the publication of their thesis, students have to realise a practical project based on their theoretical research. My thesis was concerned with the structure of the hypertext. To get an understanding of its underlying logic, I have built a method based on <% link_to 'https://en.wikipedia.org/wiki/Wikiracing' do %>wikiraces<% end %>, and the paths followed by people through hyperlinks when playing this game. I consequently imagined an interactive installation to automate the process of collecting data. Users are invited to play a wikirace, and, upon winning, they can collect their plotter&#8208;printed journey and display it in the exhibition.
        </p>
      </div>
      <div class="goto">
        <% link_to '/crossroads', class: "button", role: "button" do %>Read case study<% end %>
      </div>
    </article>
  </section>

  <section id="projects">
    <h3>Projects</h3>
    <p class="details">This selection contains professional work samples I've done recently. For more information, please <a href="mailto:marioncouesnon@gmail.com">contact me.</a></p>
    <div class="project-presentation-container">
      <div class="project-img-container">
        <a class="zoomIn" href="/assets/images/projects/jfx.jpg">
          <%= image_tag 'projects/jfx.jpg' %>
        </a>
      </div>
      <div class="project-information-container">
        <h4>2016</h4>
        <h1>JFX</h1>
        <h3>A SaaS web application for a music label</h3>
        <p>Guiding musicians' careers might be tricky for a music label. Especially when information that could help is lost inside thousands and thousands of Excel lines. Therefore, Craftsmen was commissioned by <a href="http://www.jarringeffects.net/">Jarring Effects</a>, an independent music label, to built a SaaS application. As a UX designer, I started by understanding what were the nature of the data we had to handle. Next, I discussed with the client the priority in which the information should be displayed. After creating several paper prototypes, I kept an eye on the project, making graphic and interactive proposals by coding and pull requesting.</p>
      </div>
    </div>

    <div class="project-presentation-container">
      <a class="zoomIn" href="/assets/images/projects/ship-it.jpg">
        <%= image_tag 'projects/ship-it.jpg' %>
      </a>
      <h4>2016</h4>
      <h1>Ship-it</h1>
      <h3>A landing page for a hackathon event</h3>
      <p>I created the website and graphic design of an hackathon that was organized by my boss at Craftsmen. From responsive design to CSS animation, the project was for me the opportunity to dive deeper inside code possibilities and UX recommendations for landing pages.</p>
    </div>

    <div class="project-presentation-container">
      <a class="zoomIn" href="/assets/images/projects/lead-btp.jpg">
        <%= image_tag 'projects/lead-btp.jpg' %>
      </a>
      <h4>2016</h4>
      <h1>Lead-BTP</h1>
      <h3>Landing page and rebranding of a SaaS application for the building industry</h3>
      <p>For my last mission at Craftsmen, I was fully responsible of the project. So I handled all the aspect of the project, from design to code... and client management. I understood that helping the clients to make the best decisions for themselves can be hard sometimes but it is also what makes a good designer.</p>
    </div>

    <div class="project-presentation-container">
      <a class="zoomIn" href="/assets/images/projects/subleem.jpg">
        <%= image_tag 'projects/subleem.jpg' %>
      </a>
      <h4>2015</h4>
      <h1>Subleem</h1>
      <h3>An initiation to Design Sprints for a start-up creating a network to share make-up tips</h3>
      <p>I discovered Design Sprints when <a href="https://www.subleem.com/public/">Subleem</a> charged Craftsmen with the creation of an iOS app. During the sprint, I was the recorder. My role was to take notes and keep the Trello board up-to-date. I also prototyped the paper version of the app using InVision. Thanks to the sprint, we managed to identify the skeleton of the app by extracting user stories and case studies. I found Design Sprints are interesting methodology because they are about getting people (clients, agencies, teammate...) closer to better communicate, understand user needs and grow mutual trust.</p>
    </div>

    <div class="project-presentation-container">
      <a class="zoomIn" href="/assets/images/projects/catalogue-dsaa.jpg">
        <%= image_tag 'projects/catalogue-dsaa.jpg' %>
      </a>
      <h4>2017</h4>
      <h1>DSAA Catalogue</h1>
      <h3>An institutional publication of DSAA graduate projects</h3>
      <p>After I graduated my master degree, Le Pôle Supérieur de Design de Villefontaine charged me and Amely Bernardo-Kent with the design and publication of a catalogue that would gather each apprenticeship experiences and diploma projects from our class. It was an interesting experience because we mostly worked remotely. Gathering information was the hardest part. But creating the editorial guidelines and looking at the printed result was really rewarding.</p>
    </div>
  </section>
</div>

<div class="to-archive-container">
  <div class="grid-container">
    <section id="archives">
      <h3>Archives</h3>
      <p class="details">Want to know more about projects I've been involved in? Good, then have a look a my archives!</p>
      <% link_to '/archives', class: "button", role: "button" do %>Look at the archives<% end %>
    </section>
  </div>
</div>
