---
title: Marion Couesnon Portfolio
---

<div class="hero">
  <div class="grid-container">
    <div class="case-summary-container">
      <div class="logo-container">
        <p class="logo-name">marion couesnon</p>
        <p class="logo-baseline">hyperactive designer</p>
      </div>
      <div class="intro-container">
        <p class="intro">Hi there! I’m an interaction designer. My skills are shared between UX, UI and coding. My aim is to create delightful and useful products for innovative companies.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="case-summary-container">
    <h1 class="title">Case studies</h1>
    <div class="case-wrapper">
      <% link_to '/deadline' do %>
      <%= image_tag 'deadline/201702_MD_Salone-Ludico_Deadline_HEAD_MichelGiesbrecht_001.jpg' %>
      <% end %>
      <p class="legend">Photograph from Michel Giesbrecht</p>
      <h2 class="case-name"><% link_to '/deadline' do %>Deadline<% end %></h2>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> april 2017</li>
          <li><span>Duration:</span> 8 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Team:</span> <% link_to 'http://www.valeriepierrehumbert.com' do %> Valérie Pierrehumbert<% end %></li>
          <li><span>Tools:</span> illustrator, after effects, sketch, invision, draw.io</li>
        </ul>
        <p class="summary-text-wrapper">Deadline was designed for <% link_to 'http://saloneludico.ch/' do %>Salone Ludico<% end %>, an exhibition <!--I also coded the website! ;-) -->organised by the Media Design section of HEAD—Genève. It is a hybrid game exploring the trials and tribulations of a graphic designer. Players become graphic designers themselves, and are commissioned to make projects for clients. To win, on the app you have to complete your checklist in the allotted time, by fulfilling tasks day after day. Using the cards, you can attack and defend yourself, but you need to be careful as the other players and the application itself will do their best to block you along the way. This project was a teamwork about designing the gameplay and a working prototype of a game.
        </p>
      </div>
      <div class="goto">
        <% link_to '/deadline' do %>See project
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>

    <div class="case-wrapper">
      <% link_to '/mealcanteen' do %>
      <%= image_tag 'meal-canteen/meal-canteen-logo.jpg' %>
      <% end %>
      <p class="legend">Logo made by <% link_to 'https://dribbble.com/laurentholdrinet' do %>Laurent Holdrinet<% end %></p>
      <h2 class="case-name"><% link_to '/mealcanteen' do %>Meal Canteen<% end %></h2>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> april 2016</li>
          <li><span>Duration:</span> 2 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Team:</span> <% link_to 'https://github.com/mehlah' do %> Mehdi Lahmam<% end %></li>
          <li><span>Tools:</span> sketch, bourbon, git</li>
        </ul>
        <p class="summary-text-wrapper"><% link_to 'https://mealcanteen.com/' do %>Meal Canteen<% end %> is a start-up whose ambition is to reduce food waste in institutional catering and school canteens. Thanks to an application for web and mobile platforms, users have the possibility to book in advance the meals they will eat during working days. I took part in this project during my apprenticeship in master degree <% link_to 'http://dsaa.designvillefontaine.com/' do %>(DSAA)<% end %>. It gave me the opportunity to get involved in the process of building a start-up from scratch to an MVP. My work has also included organising user interviews, A/B testings, and building wireframes for iPhone following iOS guidelines.
        </p>
      </div>
      <div class="goto">
        <% link_to '/mealcanteen' do %>See project
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>

    <div class="case-wrapper">
      <% link_to '/hypertext' do %>
        <%= image_tag 'hypertext/repro-fev-2017_046.jpg' %>
      <% end %>
      <h2 class="case-name"><% link_to '/hypertext' do %>From Pandora to Post-it, an empirical exploration of the hypertext<% end %></h2>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> february 2017</li>
          <li><span>Duration:</span> 6 months</li>
          <li><span>Role:</span> writer - designer</li>
          <li><span>Tutor:</span> <% link_to 'http://www.nicolasnova.net' do %>Nicolas Nova<% end %></li>
          <li><span>Tools:</span> javascript, inDesign, illustrator</li>
        </ul>
        <p class="summary-text-wrapper">This publication is the result of my MA in media design at <% link_to 'https://www.hesge.ch/head/en/programs-research/master-arts-media-design' do %>HEAD—Genève<% end %>. When it was invented, hypertext was seen as a way to connect information somewhat similar to how we think. But is it really the case? In order to understand the hypertext structure of Wikipedia, I have created a user testing protocol based on <% link_to 'https://en.wikipedia.org/wiki/Wikiracing' do %>wikiraces<% end %>, a gaming practice making use of hyperlinks to connect randomly chosen articles. I then used this protocol to analyse the practice of 11 people. My thesis is the synthesis of the results I obtained. This design research project was the opportunity for me to elaborate this series of user tests as a way to blend practical and theoretical work. I have also had the occasion to give a talk at the
        <% link_to 'http://junior-research.ch/' do %>Junior Research Design Conference<% end %> in october 2016. Finally, I designed the publication and got involved in every part of the printing process.
        </p>
      </div>
      <div class="goto">
        <% link_to '/hypertext' do %>See project
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>

    <div class="case-wrapper">
      <% link_to '/crossroads' do %>
        <%= image_tag 'crossroads/repro-jun-17.jpg' %>
      <% end %>
      <p class="legend">Photographs from <% link_to 'http://www.localf11.ch/baptiste-coulon/' do %>Baptiste Coulon<% end %></p>
      <h2 class="case-name"><% link_to '/crossroads' do %>Crossroads<% end %></h2>
      <div class="summary-container">
        <ul class="summary-info-wrapper">
          <li><span>Date:</span> june 2017</li>
          <li><span>Duration:</span> 2 months</li>
          <li><span>Role:</span> interaction designer</li>
          <li><span>Tutor:</span> <% link_to 'http://osp.kitchen/' do %>Stéphanie Vilayphiou<% end %></li>
          <li><span>Thanks to:</span> <% link_to 'http://www.kevinvennitti.com/' do %>Kévin Vennitti<% end %>, <% link_to 'http://felicien.io/' do %>Félicien Goguey<% end %> and <% link_to 'http://et-nd.co/' do %>Étienne Ndiaye<% end %></li>
          <li><span>Tools:</span> sketchup, illustrator, javascript, bourbon, dot and pstoedit</li>
        </ul>
        <p class="summary-text-wrapper">Crossroads is the graduation project I have made for my master at <% link_to 'https://www.hesge.ch/head/en/programs-research/master-arts-media-design' do %>HEAD—Genève<% end %>. After the publication of their thesis, students have to realise a practical project based on their theoretical research. My thesis was concerned with the structure of the hypertext. To get an understanding of its underlying logic, I have built a method based on <% link_to 'https://en.wikipedia.org/wiki/Wikiracing' do %>wikiraces<% end %>, and the paths followed by people through hyperlinks when playing this game. I consequently imagined an interactive installation to automate the process of collecting data. Users are invited to play a wikirace, and, upon winning, they can collect their plotter-printed journey and display it in the exhibition.
        </p>
      </div>
      <div class="goto">
        <% link_to '/crossroads' do %>See project
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <h1 class="title">Projects</h1>
    <p>This is an overview of projects I've been involved in. For more information, please <a href="mailto:marioncouesnon@gmail.com">contact me.</a></p>
    <div class="img-container-3">
      <a class="zoomIn" href="/assets/images/projects/jfx.jpg">
        <%= image_tag 'projects/jfx.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/ship-it.jpg">
        <%= image_tag 'projects/ship-it.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/cristallo.jpg">
        <%= image_tag 'projects/cristallo.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/salone-ludico.jpg">
        <%= image_tag 'projects/salone-ludico.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/histoire-sensible.jpg">
        <%= image_tag 'projects/histoire-sensible.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/leadBTP.jpg">
        <%= image_tag 'projects/leadBTP.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/Luminous.jpg">
        <%= image_tag 'projects/Luminous.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/mirage.jpg">
        <%= image_tag 'projects/mirage.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/o.jpg">
        <%= image_tag 'projects/o.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/catalogue-dsaa.jpg">
        <%= image_tag 'projects/catalogue-dsaa.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/marketiq.jpg">
        <%= image_tag 'projects/marketiq.jpg' %>
      </a>
      <a class="zoomIn" href="/assets/images/projects/klynt.jpg">
        <%= image_tag 'projects/klynt.jpg' %>
      </a>
    </div>
  </div>
</div>
