---
layout: case-study
---

<div class="grid-container">
  <div class="case-study-container">
    <h1>Meal Canteen</h1>
    <div class="desc-wrapper">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/ibG0y6KyrJE?ecver=2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="legend">Vidéo explicative réalisée quelques mois après le lancement du MVP.</p>

      <h2>Comment débuter un projet de start-up à partir de rien ?</h2>
      <p>Lorsqu'un projet n'est qu'au stade de l'idée, il est aisé de se perdre en conjectures sur ce qu'il sera amené à devenir. Quels seront ces features, son marché, son public, etc. Mon apprentissage m'a permis de comprendre que le principal est d'identifier l'essence du produit et de commencer à le prototyper pour se poser ces questions. Avoir un prototype, même en cours de développement, permet de placer ces interrogations sous l'angle de la fonctionnalité et de l'utilisabilité plutôt que de se borner à un aspect conceptuel. Aussi, la première mission qui m’a été assignée pour Meal Canteen consistait à comprendre si des visuels pour accompagner les différentes propositions de plats avaient une quelconque utilité dans l’expérience de l’application. Le porteur du projet imaginait utiliser des photographies pour donner envie aux clients d’utiliser l’application. De mon côté, je me demandais comment intégrer toutes ces images et d’où les tirer. Nous nous sommes renseignés sur des banques d’images, mais cela semblait trop coûteux ou de trop faible qualité par rapport à ce que nous envisagions. Mon supérieur m’a donc demandé d’imaginer des alternatives.
      </p>
    </div>

    <div class="desc-wrapper">
      <h2>Mettre en place des hypothèses graphiques</h2>
      <p>J’ai donc créé deux pistes graphiques. La première était axée sur des illustrations qui, de par leurs couleurs, attireraient le regard de l’utilisateur. Le problème qui s'est vite posé avec cette proposition est comment réussir à avoir autant d’illustrations que de plats possibles.</p>
      <%= image_tag 'meal-canteen/set-1.jpg' %>
      <p class="legend">Quelques illustrations réalisées pour la piste n°1.</p>
      <p> C’est pourquoi la seconde piste consistait à créer une bibliothèque d’icônes qui pourraient ensuite se combiner pour générer des icônes spécifiques à chaque plat. J’ai ensuite intégré en HTML/CSS mes propositions ainsi qu'une interface sans illustration au prototype via Git. 
      </p>
      <%= image_tag 'meal-canteen/set-2.jpg' %>
      <p class="legend">Concepts d'icônes pour la piste n°2.</p>
    </div>

    <div class="desc-wrapper">
      <h2>Tester, comprendre, décider : de l'a priori à la conviction</h2>
      <p>Nous avons ensuite fait passer le test à plusieurs enfants inscrits au service de restauration scolaire de leur établissement. Le panel était assez large, mais toutes les personnes interrogées vivaient en ville. Certains enfants étaient contraints de rester manger à la cantine alors que d’autres pouvaient choisir de déjeuner en ville. Une partie d’entretien avec chacun d’eux m’a permis de comprendre leur vision, leurs avis et leurs habitudes alimentaires et de déjeuner. Les sujets abordés allaient de leurs plats préférés aux exigences des parents vis-à-vis du régime alimentaire des enfants. Suite à cela, je leur ai fait tester le prototype que nous avions construit à trois reprises, en incluant la première piste avec les illustrations, la seconde avec les icônes et la dernière sans rien d’autre que le titre du plat.</p>
      <%= image_tag('meal-canteen/piste-1.jpg')%>
      <%= image_tag('meal-canteen/piste-2.jpg', class:'img-spacing')%>
      <p class="legend">Les deux pistes intégrées au composant de l'application web.</p>
      <p>En leur demandant de commenter leurs actions et leurs impressions, je me suis rendue compte que les images les perturbaient plus qu’autre chose. Ils cherchaient à les identifier sans toujours y parvenir et cela rendait leur expérience moins agréable. J’ai donc écrit un rapport rassemblant mes observations et recommandant de ne pas utiliser d’images d’aucune sorte à ce moment précis de l’expérience afin de permettre aux utilisateurs une lecture rapide et un choix immédiat.
      </p>
    </div>

    <div class="desc-wrapper">
      <h2>Se familiariser avec la construction d'applications iOS</h2>
      <p>La seconde mission que j’ai reçue sur ce projet consistait à esquisser l’application iOS en me fiant aux guidelines d’Apple. Cette occasion m’a permis de me familiariser avec les ressources d’Apple mais aussi de m’initier au logiciel de prototype Sketch. Ce travail est partiellement sous clause de confidentialité.
      </p>
      <div class="img-container-3">
        <%= image_tag('meal-canteen/next-meals.jpg')%>
        <%= image_tag('meal-canteen/choose-dish.jpg')%>
        <%= image_tag('meal-canteen/food-cart.jpg')%>
      </div>
      <p class="legend">Quelques écrans clés de la toute première version de l'application.</p>
    </div>

    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Accueil
      <% end %>
      <% link_to '/deadline' do %>Deadline
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
